<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <!--<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="UTF-8">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{20} - %msg%n</pattern>
        </encoder>
    </appender>-->
    <appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./log/${ServerId:-BootStepPrepare}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>./log/${ServerId:-BootStepPrepare}.%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>3</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>5MB</maxFileSize>
        </triggeringPolicy>
        <encoder charset="UTF-8">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{20} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="logStash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>172.31.60.150:20000</destination>
        <encoder charset="UTF-8" class="net.logstash.logback.encoder.LogstashEncoder" />
        <reconnectionDelay>60 seconds</reconnectionDelay>
        <writeBufferSize>32768</writeBufferSize>
    </appender>
    <root level="debug">
        <!--<appender-ref ref="stdout"/>-->
        <appender-ref ref="rollingFile"/>
        <appender-ref ref="logStash"/>
    </root>
</configuration>